{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title %} Admin Panel {% endblock %}

{% block page_content %}

    <ul>
        <li>Conferences count: <strong>{{ conferencesCount }}</strong></li>
        <li>Comments count <strong>{{ commentsCount }}</strong></li>
    </ul>

{% endblock %}