{% extends 'base.html.twig' %}

{% block title %}Conference Guestbook{% endblock %}

{% block body %}
    <h2>Give your feedback!</h2>

    {% for conference in conferences %}
        <h4><a href="{{ path('conference', {slug: conference.slug}) }}">{{ conference }}</a></h4>
    {% endfor %}
{% endblock %}
